.DS_Store
/.build/
/.swiftpm/
/DerivedData/
/dist/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
.vercel
/downloads/
*.cer
*.key
*.p8
*.p12
*.pem
*.provisionprofile
*.mobileprovision
.env
.env.*
