cask "huri" do
  version "@VERSION@"
  sha256 "@SHA256@"

  url "@URL@"
  name "Huri"
  desc "Private, native file transformation for macOS"
  homepage "https://pacificknowledge.dev"

  depends_on macos: ">= :sonoma"

  app "Huri.app"

  zap trash: [
    "~/Library/Preferences/dev.pacificknowledge.huri.plist",
    "~/Library/Saved Application State/dev.pacificknowledge.huri.savedState",
  ]
end
