<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>fr</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>fr</string>
        <string>en</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>Huri</string>
    <key>CFBundleExecutable</key>
    <string>Huri</string>
    <key>CFBundleIdentifier</key>
    <string>@BUNDLE_IDENTIFIER@</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Huri</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@BUILD_NUMBER@</string>
    <key>CFBundleGetInfoString</key>
    <string>Huri @VERSION@, © 2026 Pacific Knowledge</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Pacific Knowledge. All rights reserved.</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist>
